#members-container{
    display: inline-block;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    height: auto;
    position: fixed;
    left:0;
    right:0;
    bottom: 1em;
    width: 30em;
    margin:2em auto;
    background: rgba(130,130,130,.3);
    padding: 1.25em  1em 1.25em 1.25em;
    border:  0.06em solid;
    border-top-color: rgba(255,255,255,.4);
    border-left-color: rgba(255,255,255,.4);
    border-bottom-color: rgba(60,60,60,.4);
    border-right-color: rgba(60,60,60,.4);
    overflow: auto;
    align-content: center;
}
.member {
    margin-left:1em;
    align-content: center;
    text-decoration: none;
    display: inline-block;
    width:7em;
    border: 0.06em solid;
    border-bottom-color: rgba(255,255,255,.5);
    border-right-color: rgba(60,60,60,.35);
    border-top-color: rgba(60,60,60,.35);
    border-left-color: rgba(80,80,80,.45);
    background-color: rgba(0,0,0,.2);
    background-repeat: no-repeat;
    padding: 0.50em 1.50em 0.50em 0.63em;
    font: bold .875em/1.25em "Josefin Sans";
    letter-spacing: .075em;
    color: darkgray;
    text-shadow: 0 0.06em 0 rgba(0,0,0,.1);
    margin-bottom: 1.19em;
}

#members-container img{
    position: absolute;
    bottom: 0;
    transform: scale(0.3, 0.3);
    -ms-transform: scale(0.3, 0.3);
    -webkit-transform: scale(0.3, 0.3);
}

#members-container h1{
    color:orange
}

#name{
    color:orange
}
.memberHref{
    margin-left:1em;
    align-content: center;
    text-decoration: none;
    display: inline-block;
    width:5em;
    border: 0.06em solid;
    border-bottom-color: rgba(255,255,255,.5);
    border-right-color: rgba(60,60,60,.35);
    border-top-color: rgba(60,60,60,.35);
    border-left-color: rgba(80,80,80,.45);
    background-color: rgba(0,0,0,.2);
    background-repeat: no-repeat;
    padding: 0.50em 1.50em 0.50em 0.63em;
    font: bold .875em/1.25em "Josefin Sans";
    letter-spacing: .075em;
    color: darkgray;
    text-shadow: 0 0.06em 0 rgba(0,0,0,.1);
    margin-bottom: 1.19em;
}