@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);
div#grid_container{
    width:900px;
    margin:0px auto;
    padding-top: 60px;
    height:860px;
    border:#999 1px solid;
    font-family: "Josefin Sans";
}
div#grid_container > div{
    background:white;
    position:relative;
    width: 291px;
    border: #f2f2f2 1px solid;
    display: inline-block;
}
div#grid_container > div>p{
    margin: auto;
    margin-left: 0.2em;
}
.offerImg{
    display: inline-block;
    vertical-align: middle;
    max-height: 50%;
    max-width: 50%;
}
.offerTitle{
    font: bold 1.2em "Josefin Sans";
}
.toFullLink:hover{
    color:orange;
}

div#grid_container > div:nth-child(2n+0) {
    background: white;
}
div#grid_container > div:nth-child(2n+1) {
    background: whitesmoke;
}
div#grid_container > div > div{ padding: 20px; font-size: 2px; color:#D9A800; }