@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);
div#grid_container{
    width:56.25em;
    margin:0px auto;
<<<<<<< HEAD
    height:53.75em;
=======
    padding-top: 60px;
    height:860px;
>>>>>>> origin/master
    border:#999 1px solid;
    font-family: "Josefin Sans";
}
div#grid_container > div{
    background:white;
<<<<<<< HEAD
    position:absolute;
    width: 18.19em;
=======
    position:relative;
    width: 291px;
>>>>>>> origin/master
    border: #f2f2f2 1px solid;
    display: inline-block;
}
div#grid_container > div>p{
    margin: auto;
    margin-left: 0.2em;
}
.offerImg{
    display: inline-block;
    vertical-align: middle;
    max-height: 50%;
    max-width: 50%;
}
.offerTitle{
    font: bold 1.2em "Josefin Sans";
}
.toFullLink:hover{
    color:orange;
}

div#grid_container > div:nth-child(2n+0) {
    background: white;
}
div#grid_container > div:nth-child(2n+1) {
    background: whitesmoke;
}
div#grid_container > div > div{ padding: 1.25em; font-size: 0.13em; color:#D9A800; }