@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);
#container{
    background: transparent;
    height:80em;
    font-family: "Josefin Sans", sans-serif;
}
section#left {
    position: fixed;
    float: left;
    overflow: auto;
    height: 100%;
    color: orange;
    font-family: "Josefin Sans", sans-serif;
    font-weight: 700;
    font-size: 16pt;
    text-align: center;
    width: inherit;
}

.category-link{
    display:block;
    width: 8em;
    height: 0.5em;
    color: orange;
    text-align: center;
    padding: 0.88em 0.94em;
    text-decoration: none;
    transition: 0.3s;
    font-size: 15pt;
}
.category-link:hover{
    background: #1e1e1e;
}
#section-label:hover{
    background: #333;
}
#center{
    vertical-align:top;
    display:table;
}
.offer{
    margin: 0.12em;
    min-width: 15em;
    min-height: 10em;
    max-width: 15em;
    max-height: 10em;
    display:inline-block;
    display-inside: table;
    vertical-align:middle;
    text-align:center;
    background: url(http://bit.ly/2gPJqkl)
}
.offer:hover {
    width:5em;
    height: 7em;
}
.offer a{
    color: white;
    text-decoration: none;
}
.offer a:hover{
    color: orange;
    text-decoration: none;
}
.offer-image {
    min-width: 9.9em;
    max-width: 9.9em;
    min-height: 9.9em;
    max-height: 9.9em;
}

#singleOffer>img{
    display: table-cell;
    float:left;
    margin-bottom: 1em;
}

#offerInfo{
    display: table-cell;
    color:white;
    width:auto;
    min-width:4em;
    background: rgba(106, 106, 106, 0.3);
    float:right;
    text-align: center;
    font-size:12pt;
    font-family: "Josefin Sans", sans-serif;
    border:  0.06em solid;
    border-top-color: rgba(255,255,255,.4);
    border-left-color: rgba(255,255,255,.4);
    border-bottom-color: rgba(60,60,60,.4);
    border-right-color: rgba(60,60,60,.4);
}
#offerPrice{
    color:black;
}
