@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);
#container{
    height: auto;
    color: darkslategray;
    font-family: "Josefin Sans", sans-serif;
}

.categoriesMenu {
    background: #333;
    position: fixed;
    float: left;
    height: 100%;
    overflow:hidden;
    color: orange;
    font-family: "Josefin Sans", sans-serif;
    font-size: 16pt;
    text-align: center;
    width: 8em;
}

.category-link{
    display:table;
    width: 8em;
    height: 0.5em;
    color: orange;
    text-align: center;
    padding: 0.70em 0.5em;
    text-decoration: none;
    transition: 0.3s;
    font-size: 15pt;
}
.category-link:hover{
    background: #1e1e1e;
}
#section-label:hover{
    background: #333;
}
#center{
    padding-left: 2em;
    vertical-align:top;
    display:table;
}
.all-offers{
    color: darkslategray;
    background: white;
    align-content: center;
    margin: 0.12em;
    min-width: 15em;
    min-height: 10em;
    max-width: 15em;
    max-height: 10em;
    display:inline-block;
    display-inside: table;
    vertical-align:middle;
    text-align:center;
}
.offer:hover {
    width:5em;
    height: 7em;
}
.offer a{
    text-decoration: none;
    color: darkslategray;
}
.offer a:hover{
    color: orange;
    text-decoration: none;
}
.offer-image {
    min-width: 9.9em;
    max-width: 9.9em;
    min-height: 9.9em;
    max-height: 9.9em;
}

#singleOffer>img{
    display: table-cell;
    float:left;
    margin-bottom: 1em;
}

#offerInfo{
    display: table-cell;
    color: darkslategray;
    width:auto;
    min-width:4em;
    height: 9.9em;
    background: rgb(237, 235, 230);
    float:right;
    text-align: center;
    font-size:12pt;
    font-family: "Josefin Sans", sans-serif;
    border:  0.06em solid;
    border-top-color: rgb(238, 238, 238);
    border-left-color: rgba(227, 227, 227, 0.4);
    border-bottom-color: rgba(60,60,60,.4);
    border-right-color: rgba(60,60,60,.4);
}
#offerPrice{
    color:black;
}
