.create-offer-container {
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    position: relative;
    left:0;
    right:0;
    margin: 5em auto;
    width: 60em;
    background: rgba(130,130,130,.3);
    padding: 1.25em  1.38em;
    border:  0.06em solid;
    border-top-color: rgba(255,255,255,.4);
    border-left-color: rgba(255,255,255,.4);
    border-bottom-color: rgba(60,60,60,.4);
    border-right-color: rgba(60,60,60,.4);
    overflow:auto;
    vertical-align:top;
    display:table;
}
.form{
    position:relative;
    height: 0.19em;
}
#mainText{
    font-size: 17pt;
    color:lightgray;
    font-weight: 700;
}
form input, form button {
    width: 21.88em;
    border: 0.06em solid;
    border-bottom-color: rgba(255,255,255,.5);
    border-right-color: rgba(60,60,60,.35);
    border-top-color: rgba(60,60,60,.35);
    border-left-color: rgba(80,80,80,.45);
    background-color: rgba(0,0,0,.2);
    background-repeat: no-repeat;
    padding: 0.50em 1.50em 0.50em 0.63em;
    font: bold .875em/1.25em "Josefin Sans";
    letter-spacing: .075em;
    color: white;
    text-shadow: 0 0.06em 0 rgba(0,0,0,.1);
    margin-bottom: 1.19em;
}

form input:focus { background-color: rgba(0,0,0,.4); }

form input.email {
    background-position: 13.75em 0.63em;
}

form input.pass {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAAQCAYAAADNo/U5AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyJpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuMC1jMDYxIDY0LjE0MDk0OSwgMjAxMC8xMi8wNy0xMDo1NzowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENTNS4xIFdpbmRvd3MiIHhtcE1NOkluc3RhbmNlSUQ9InhtcC5paWQ6NTVFMDg1QzU3QzIzMTFFMjgwQThGODZFM0EwQUZFQ0YiIHhtcE1NOkRvY3VtZW50SUQ9InhtcC5kaWQ6NTVFMDg1QzY3QzIzMTFFMjgwQThGODZFM0EwQUZFQ0YiPiA8eG1wTU06RGVyaXZlZEZyb20gc3RSZWY6aW5zdGFuY2VJRD0ieG1wLmlpZDo1NUUwODVDMzdDMjMxMUUyODBBOEY4NkUzQTBBRkVDRiIgc3RSZWY6ZG9jdW1lbnRJRD0ieG1wLmRpZDo1NUUwODVDNDdDMjMxMUUyODBBOEY4NkUzQTBBRkVDRiIvPiA8L3JkZjpEZXNjcmlwdGlvbj4gPC9yZGY6UkRGPiA8L3g6eG1wbWV0YT4gPD94cGFja2V0IGVuZD0iciI/Pv2NSIIAAADYSURBVHjanJAxCsJAEEXXaBMQtvIMqTxDKjtPELC1svMoOYM2WlqIhVcQFMVgG7ATAoIggfGPjrLIrBo/vCzZ+Z+dGUNExiECI7Clhw5gAtqur8YfUQxm4AzGIAMRSIAFXbC8OyUdghwsgH173cp9Lr5XqAeOSsANcj3h/8BpbQ4Ko6uQOvtMQy6noG4+iz3XZ4iHbIEQ9L8EeUlN3t5etvSrMg6RqajAc78BQ7BTq6QrllV3tKLvpZOclyrt/TWTlTP0zVQqba/BAKyUWsmh1BPUxL70JsAABHkyyK1uocIAAAAASUVORK5CYII=);
}

form button[type=submit] {
    width: 15.50em;
    margin-bottom: 0;
    color: orange;
    letter-spacing: .05em;
    text-shadow: 0 0.06em 0 #133d3e;
    text-transform: uppercase;
    background: #225556;
    border-top-color: #9fb5b5;
    border-left-color: #608586;
    border-bottom-color: #1b4849;
    border-right-color: #1e4d4e;
    cursor: pointer;
}

.stepHeading{
    font-size: 20pt;
    align-content: center;
    color:white;
}
.selectGroup{
    width: 15em;
    clear:both;
    font-family: "Josefin Sans", sans-serif;
    font-size: 15pt;
    background: #333;
    border: orange 0.07em solid;
    position:relative;
    display:inline-block;
    cursor:default;
    text-align:left;
    line-height:30px;
    color:orange;
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    -o-appearance:none;
    box-shadow: inset;
}

option:hover {
    background:#1e1e1e;
}
input, textarea, select, a { outline: none; }

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}
.custom-file-input::before {
    font-family: "Josefin Sans", sans-serif;
    content: 'Select image';
    display: inline-block;
    background: -webkit-linear-gradient(top, #333, #1e1e1e);
    border: 1px solid orange;
    padding: 5px 8px;
    outline: none;
    -webkit-user-select: none;
    cursor: pointer;
    color: orange;
    font-size: 15pt;
}
.custom-file-input:hover::before {
    border-color: orange;
    background:#1e1e1e;
}
.custom-file-input:active::before {
    background: -webkit-linear-gradient(top,#333, #1e1e1e);
}
.imgPreview{
    transform: scale(0.3, 0.3);
    -ms-transform: scale(0.3, 0.3);
    -webkit-transform: scale(0.3, 0.3);
}
textarea{
    width: 21.88em;
    font-family: "Josefin Sans", sans-serif;
    font-size: 15pt;
    display:block;
    box-sizing: padding-box;
    overflow:hidden;
    padding:0.6em;
    margin:0.3em auto;
    box-shadow:0.1em 0.1em 0.49em rgba(0,0,0,.3);
    border:0;
    border-bottom-color: rgba(255,255,255,.5);
    border-right-color: rgba(60,60,60,.35);
    border-top-color: rgba(60,60,60,.35);
    border-left-color: rgba(80,80,80,.45);
    background-color: rgba(0,0,0,.2);
    background-repeat: no-repeat;
}
