@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);
.detailed-offer {
    color:white;
    padding: 0.63em;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    position: fixed;
    left:0;
    right:0;
    bottom: 0;
    top:0;
    width: 70em;
    height: 30em;
    margin:5em auto;
    background: rgba(130,130,130,.3);
    padding: 1.25em  1.38em;
    border:  0.06em solid;
    border-top-color: rgba(255,255,255,.4);
    border-left-color: rgba(255,255,255,.4);
    border-bottom-color: rgba(60,60,60,.4);
    border-right-color: rgba(60,60,60,.4);
    overflow:hidden;
}
.detailed-offer h1 {
    position: relative;
}
.detailed-offer-image {
    position: absolute;
    transform: scale(2, 2);
    -ms-transform: scale(2, 2);
    -webkit-transform: scale(2, 2);
    margin-top: 10%;
    margin-left: 30%;
}

.detailed-offer-info {
    float: right;
    left: 20%;
    margin-top: 6%;
    margin-right: 15%;
}
.detailed-offer-info div {
    padding: 0.3em;
    text-align: left;
    font-size:  1.56em;
}
.detailed-offer-description {
    float: right;
    position: fixed;
    margin-top: 15%;
    margin-left: 50%;
}
.detailed-offer-description textarea {
    width: 15em;
    height: 9em;
    resize: none;
}

#buyBtn {
    width: 8em;
    height:2em;
    color: orange;
    letter-spacing: .05em;
    text-shadow: 0 0.06em 0 #133d3e;
    text-transform: uppercase;
    background: #225556;
    border-top-color: #9fb5b5;
    border-left-color: #608586;
    border-bottom-color: #1b4849;
    border-right-color: #1e4d4e;
    cursor: pointer;
}