@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);
.footer{
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.2em;
    list-style-type: none;
    overflow: hidden;
    background-color: orange;
    text-align: center;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 8px 9px;
    flex: 0 1 40px;
}