@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);
.nav-bar{
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    flex: 0 0 auto;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.nav-bar-link{
    display: inline-block;
    width: 10em;
    color: orange;
    text-align: center;
    padding: 14px 15px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 15pt;
}

.nav-bar-link:hover{
    background: #1e1e1e;
}
.nav-bar img {
    display: inline;
    float: left;
    width: 70px;
    height: 68px;
    overflow: hidden;
    position:absolute;
    top:0; left:0;
}

.helloUser {
    right: 30px;
    margin: 14px 15px;
    color: orange;
    position: absolute;
    font-size: 12pt;
    cursor: default;
}