@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);
.navbar {
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    list-style-type: none;
    background-color: #333;
    flex: 0 0 auto;
    position: fixed;
    height: 60px;
    width: 100%;
}

.nav-bar-link{
    display: inline-block;
    width: 10em;
    color: orange;
    text-align: center;
    padding: 0.88em 0.94em;
    text-decoration: none;
    transition: 0.3s;
    font-size: 15pt;
}

.nav-bar-link:hover{
    background: #1e1e1e;
}
.navbar img {
    display: inline;
    float: left;
    width: 4em;
    height: 4em;
    overflow: hidden;
    position:absolute;
    top:0; left:0;
}

.helloUser {
    right: 1.88em;
    margin: 0.88em 0.94em;
    color: orange;
    position: absolute;
    font-size: 15pt;
    cursor: default;
}

.helloUser>ul {
    list-style: none;
    padding: 0.7em;
    margin:0em;
    left: -1em;
}

.helloUser > ul li {
    display: block;
    position: relative;
    float: left;
}

.helloUser > ul {
    display: none;
}
.helloUser li a {display: block;background: #333;padding: 0.63em 0.63em 0.63em 0.63em;text-decoration: none;
    white-space: nowrap;color: orange; width:100%; }
.helloUser li{width:100%;box-sizing: border-box;}
.helloUser:hover ul {display: block; position: absolute; z-index: 1000 }
.helloUser a:hover {background: #1e1e1e; width:100% }