@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);
#header-wrap {
    position: fixed;
    top:0;
    height: auto;
    width: 100%;
    z-index: 100;
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    border-bottom: orange 0.09em solid;
}
.menu{
    background: #333;
}

.nav-bar-link{
    display: inline-block;
    width: 10em;
    color: orange;
    text-align: center;
    padding: 0.88em 0.94em;
    text-decoration: none;
    transition: 0.3s;
    font-size: 15pt;
}

.nav-bar-link:hover{
    background: #1e1e1e;
}
#helloUser{
    float: left;
    position:absolute;
    top:0;
    left:0;
    padding:0.9em 0;
}

#helloUser>ul {
    list-style: none;
    padding: 0.9em 0;
    margin:0em;
    left: -0.7em;
    display: none;
}

#helloUser > ul li {
    display: block;
    position: relative;
    float: left;
}

#helloUser li a {
    display: block;
    background: #333;
    padding: 0.63em;
    text-decoration: none;
    box-sizing: border-box;
    white-space: nowrap;
    color: orange;
    width: 10em;
}
#helloUser li{
    width:100%;
    box-sizing: border-box;
}

#helloUser:hover ul {
    display:block;
    z-index: 1000;
}
#helloUser:hover {
    padding-bottom: 0;
    border-bottom: 0.09em solid orange;
}
#helloUser:hover a {
    border-right: 0.09em solid orange;
}
#helloUser a:hover {background: #1e1e1e; width: 10em; border-right: 0.09em solid orange;}
