@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);
#header-wrap {
    position: fixed;
    top:0;
    height: auto;
    width: 100%;
    z-index: 100;
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    border-bottom: orange 0.09em solid;
}
.menu{
    background: #333;
}

.nav-bar-link{
    display: inline-block;
    width: 10em;
    color: orange;
    text-align: center;
    padding: 0.88em 0.94em;
    text-decoration: none;
    transition: 0.3s;
    font-size: 15pt;
}

.nav-bar-link:hover{
    background: #1e1e1e;
}
#helloUser{
    float: left;
    position:absolute;
    top:0;
    left:0
}

#helloUser>ul {
    list-style: none;
    padding: 0.7em;
    margin:0em;
    left: -0.7em;
}

#helloUser > ul li {
    display: block;
    position: relative;
    float: left;
}

#helloUser > ul {
    display: none;
}
#helloUser li a {display: block;background: #333;padding: 0.63em 0.63em 0.63em 0.63em;text-decoration: none;
    white-space: nowrap;color: orange; width: 10em;; }
#helloUser li{width:100%;box-sizing: border-box;}
#helloUser:hover ul {display: block; position: absolute; z-index: 1000 }
#helloUser a:hover {background: #1e1e1e; width: 10em; }