@import url(http://fonts.googleapis.com/css?family=Josefin+Sans);
.myAccount {
    padding: 0.63em;
    text-align: center;
    font-family: "Josefin Sans", sans-serif;
    position: fixed;
    left:0;
    right:0;
    width: 70em;
    height: 20em;
    margin:5em auto;
    background: rgba(130,130,130,.3);
    padding: 1.25em  1.38em;
    border:  0.06em solid;
    border-top-color: rgba(255,255,255,.4);
    border-left-color: rgba(255,255,255,.4);
    border-bottom-color: rgba(60,60,60,.4);
    border-right-color: rgba(60,60,60,.4);
    overflow:hidden;
}
.profile-photo {
    float: left;
    margin-right: 90%;
}
.account-list {
    font-family: "Josefin Sans", sans-serif;
    text-align: center;
    border-bottom: orange 0.09em solid;
    font-size: x-large;
}
.account-list a {
    text-decoration: none;
    padding: 10px;
    color: black;
}
.account-list a:hover {
    color: orange;
}
.welcome-message {
    margin-top: 1em;
}