/* Slideshow container */
.slideshow-container {
    max-width: 62.50em;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -1.38em;
    padding: 1.00em;
    color: white;
    font-weight: bold;
    font-size: 1.13em;
    transition: 0.6s ease;
    border-radius: 0 0.19em 0.19em 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 0.18em 0 0 0.19em;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 0.94em;
    padding: 0.50em 0.75em;
    position: absolute;
    bottom: 0.50em;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numberText {
    color: #f2f2f2;
    font-size: 0.94em;
    padding: 0.50em 0.75em;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor:pointer;
    height:  0.81em;
    width: 0.81em;
    margin: 0 0.12em;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}