@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);
.nav-bar{
    text-align: center;
    font-family: "Open Sans Condensed", sans-serif;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    flex: 0 1 auto;
    position: fixed;
    width: 100%;
    height: 10%;
}

.nav-bar-link{
    display: inline-block;
    color: orange;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 15pt;
}

.nav-bar-link:hover{
    background: black;
}
.nav-bar img {
    display: inline;
    float: left;
    width: 70px;
    height: 68px;
    overflow: hidden;
    position:absolute;
    top:0; left:0;
}