@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);
html, body {
    height: 100%;
}
#main {
    font-family: "Open Sans Condensed", sans-serif;
}
.parallax {
    background-image: url('http://www.desktopimages.org/pictures/2016/0606/1/looking-at-viewer-women-outdoors-long-hair-redhead-model-women-freckles-curly-hair-rose-flowers-leaves-blue-eyes-pics-426857.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-next {
    background-image: url('http://4.bp.blogspot.com/-p5EQJr83RtQ/VGew51LLmyI/AAAAAAAAHnI/Q54CHZgtLJk/s1600/beauty-girl-model-image.jpg');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
div .parallax, .parallax-next{
    position: inherit;
    height:690px;
    font-size:36px;
}

#infoBox {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.2em;
    width: 80%;
    margin: 150px auto;
    position: fixed;
    left:0;
    right:0;
    color: orange;
    border: 2px solid;
    background-color: rgba(20,20,20,.7);
    border-top-color: rgba(255,255,255,.4);
    border-left-color: rgba(255,255,255,.4);
    border-bottom-color: rgba(60,60,60,.4);
    border-right-color: rgba(60,60,60,.4);
    text-align: center;
    padding: 10px;
    border-radius: 3px;
    display: none;
    z-index: 101;
}