@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);
html, body {
    height: 100%;
}
#main {
    font-family: "Open Sans Condensed", sans-serif;
}
.parallax {
    background-image: url('http://bit.ly/11eWI0u');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-next {
    background-image: url('http://bit.ly/2gLrOpM');
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
div .parallax, .parallax-next{
    position: inherit;
    height:auto;
    font-size:2.25em;
}

#infoBox {
    font-family: "Josefin Sans", sans-serif;
    font-size: 1.2em;
    width: 80%;
    margin: 5em auto;
    position: fixed;
    left:0;
    right:0;
    color: orange;
    border: 0.12em solid;
    background-color: rgba(20,20,20,.7);
    border-top-color: rgba(255,255,255,.4);
    border-left-color: rgba(255,255,255,.4);
    border-bottom-color: rgba(60,60,60,.4);
    border-right-color: rgba(60,60,60,.4);
    text-align: center;
    padding: 0.63em;
    border-radius:  0.19em;
    display: none;
    z-index: 101;
}